<h1>New Password</h1>
<form>
    <div>Password Name</div>
    <input type="text" name="passwordName" id="loginName"/>
    <div>Password Description</div>
    <input type="text" name="passwordDescription"/>
    <div>Username</div>
    <input type="text" name="username"/>
    <div>Password</div>
    <input type="text" name="password"/>
    <div>Uses Authenticator?</div><!-- turn this into a dropdown -->
    <input type="checkbox" name="password"/>

</form>
<script>
    
    var login{name="test", description = "testdescription",
    username="bsimpson", password="28302#_2"}


    
</script>
<script src="../scripts/savedata.js" />