<h1 id="Title">New Login</h1>
<h2 id="StatusText"></h2>
<form>
    <div>Login Name</div>
    <input type="text" name="LoginName" id="loginName"/>
    <div>Group</div>
    <input type="text" name="LoginGroup" id="loginGroup"/>
    <div>Login Description</div>
    <textarea  rows="4"  name="LogindDescription" id="loginDescription"/>
    <div>Username</div>
    <input type="text" name="LoginUsername" id="loginUsername"/>
    <div>Password</div>
    <input type="password" name="LoginPassword"id="loginPassword"/>
    <div>Uses Authenticator?</div><!-- turn this into a dropdown -->
    <input type="checkbox" name="LoginUsesAuthenticator" id="loginUsesAuthenticator"/>
    <button id="btnLoginSave">Save Login</button>
</form>
 <input type="checkbox" onclick="showPassword()">Show Password 

<!--<script src="../scripts/jsonDataManager.js" />-->

<script>
    //app.
    function showPassword() {
    var x = document.getElementById("loginPassword");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
    $(function () {
        $("#btnLoginSave").on("click", function (ev) {
            ev.preventDefault();
            var login = {name: $("#loginName").val(),
            description:$("#loginDescription").val(),
            username:$("#loginUsername").val(),
            password:$("#loginPassword").val(),
            usesAuth:$("#loginUsesAuthenticator").is(":checked")}

            app.emit("submit-click",login);
            //svar loginName = $("#loginName").val();


        });
    });
</script>


