<h1>New Login</h1>
<form>
    <div>Login Name</div>
    <input type="text" name="LoginName" id="loginName"/>
    <div>Login Description</div>
    <input type="text" name="LogindDescription" id="loginDescription"/>
    <div>Username</div>
    <input type="text" name="LoginUsesname" id="loginUsername"/>
    <div>Password</div>
    <input type="text" name="LoginPassword"id="loginPassword"/>
    <div>Uses Authenticator?</div><!-- turn this into a dropdown -->
    <input type="checkbox" name="LoginUsesAuthenticator" id="loginUsesAuthenticator"/>
    <button id="btnLoginSave">Save Login</button>
</form>

<!--<script src="../scripts/jsonDataManager.js" />-->

<script>
    //app.

    $(function () {
        $("#btnLoginSave").on("click", function (ev) {
            ev.preventDefault();
            var login = {name: $("#loginName").val(),
            description:$("#loginDescription").val(),
            username:$("#loginUsername").val(),
            password:$("#loginPassword").val(),
            usesAuth:$("#loginUsesAuthenticator").is(":checked")}

            app.emit("submit-click",login);
            //svar loginName = $("#loginName").val();
            console.log(login.name);
            console.log(login.description);
            console.log(login.username);
            console.log(login.password);
            console.log(login.usesAuth);

            
        });
    });
</script>


