<div id="login-nav">
    <h4 style="text-align:center;">My Logins</h4>
    <ul>
        <!-- __.each()-->
        <li>
            <a href="#" id="one" class="login-link">EUI Login</a>
        </li>
        <li>
            <a href="#" id="two" class="login-link">Open VPN Login</a>
        </li>
        <li>
            <a href="#" id="three" class="login-link">Citrix Login</a>
        </li>
    </ul>
</div>
<div id="loginDetails">
    <h2 id="loginName">Login Name Here</h2>
    <p id="loginDetails">
        Login Details are displayed here.
    </p>
    <button>Edit Login Details</button>
    <button>Copy Password to Clipboard</button>
</div>
